<div class="shapes-background">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="main-landing-text">Virtual Reality is in Style.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="sub-landing-text">
          Make your video calls more exciting with Web VR-TC
        </p>
      </div>
    </div>
    <div class="row image-div-spacing">
      <div class="col-12 app-image"></div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
