<div class="container">
  <mat-dialog-content class="font-white">
    <span class="logo"></span>
    <h3>Take your video calls to another dimension</h3>
    <p>
      Get access to additional avatar options, environments, and more with Web
      VR-TC Premium.
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="font-white" mat-button mat-dialog-close>Cancel</button>
    <button
      class="font-white"
      mat-button
      [mat-dialog-close]="true"
      (click)="getPremium()"
    >
      Get Web VR-TC Premium
    </button>
  </mat-dialog-actions>
</div>
